@font-face {
  font-family: "element-icons"; /* Project id 3167766 */
  src: url('iconfont.woff2?t=1643719606110') format('woff2'),
       url('iconfont.woff?t=1643719606110') format('woff'),
       url('iconfont.ttf?t=1643719606110') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-password:before {
  content: "\e75b";
}

.el-icon-user:before {
  content: "\e682";
}

