<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.abtu.kanbansystem.mapper.UserMapper">

    <select id="queryTeamMember"
            resultType="cn.edu.abtu.kanbansystem.bean.entity.User"
            parameterType="String">
        select *
        from sys_user
        where team_id = #{teamId} and id != #{userId}
    </select>
</mapper>